{extends file='test.html'}
{block name=tbody}
  {section name=sec1 loop=$forum}
        
        <tr class="more expanded" id="more{$forum[sec1].more}" style="border-top: 0;" onclick="clickMore({$forum[sec1].more})">
            <td colspan="6" class = "pointer"><span id="arrow{$forum[sec1].more}" class="arrow"></span>{$forum[sec1].date} 每次竞猜选择一个选项下注</td>
        </tr>
        
        {section name=sec2 loop=$forum[sec1].item}
          <tr class="moreContent more{$forum[sec1].more}" style="display: table-row">
              <td>
                <span class="leagueName" style='background-color: {$forum[sec1].raceColor[$forum[sec1].item[sec2].race]}; color: #FFFFFF'>
                  {$forum[sec1].item[sec2].race}
                </span>
              </td>
              <td class="name">
                <span class="ht">{$forum[sec1].item[sec2].host}</span>
                <span class="vs">vs</span>
                <span class="at">{$forum[sec1].item[sec2].visite}</span> </td>
              <td><span class="time">{$forum[sec1].item[sec2].time}</span></td>
              <td>
                  <span class="rq1">0</span>
                 {if $forum[sec1].item[sec2].concede > 0}
                  <span class="rq2" style="color: green">{$forum[sec1].item[sec2].concede}</span>
                 {else}
                  <span class="rq2" style="color: red">{$forum[sec1].item[sec2].concede}</span>
                 {/if}
              </td>
              <td class="odds" width="300">
                 {if $forum[sec1].item[sec2].victory != ""} 
                  <span>胜 {$forum[sec1].item[sec2].victory}</span>
                  <span>平 {$forum[sec1].item[sec2].draw} </span>
                  <span>负 {$forum[sec1].item[sec2].defeat} </span>
                  <span>胜 {$forum[sec1].item[sec2].victory1}</span>
                  <span>平 {$forum[sec1].item[sec2].draw1} </span>
                  <span>负 {$forum[sec1].item[sec2].defeat1} </span>
                 {else} 
                  <span>胜 {$forum[sec1].item[sec2].victory1}</span>
                  <span>平 {$forum[sec1].item[sec2].draw1} </span>
                  <span>负 {$forum[sec1].item[sec2].defeat1} </span>
                {/if} 
              </td>
              <td class="num">{$forum[sec1].item[sec2].num}人竞猜</td>
          </tr>
        {/section}
      {/section}
{/block}
{block name=script}
  {literal} 
    <script language="javascript" type="text/javascript">
        function clickMore(id){
          $(".more"+id).toggle( );
          $("#arrow"+id).toggleClass( "arrow1" ); 
        }   
    </script>
  {/literal}
{/block}